body {
    text-align: center;
}

#slot-machine {
    background-color: red;
    display: flex;
    justify-content: center;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
}

#lever, #reset-game {
    border-radius: 8px;
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#square, #square2, #square3 {
    background: whitesmoke;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 1ch;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: purple;
}